*.iml
.gradle
android/local.properties
.idea
.DS_Store
android/build
captures
.externalNativeBuild
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
objc/Untitled.xcworkspace/xcuserdata/naum.puroski.xcuserdatad/xcdebugger/
objc/objc.xcodeproj/xcuserdata/naum.puroski.xcuserdatad/xcdebugger/
